@model dotnetMVC.Models.Student

@{
  ViewData["title"] = "Edit student";
  var student = Model;
  List<Class> classes = ViewBag.classes;
}

<div>
  <form action="" class="form">
    <div class="form-group">
      <label for="" class>Tên</label>
      <input type="text" class="form-control" value="@student.StudentName">
    </div>
    <div class="form-group">
      <label for="" class>Ngày sinh</label>
      <input type="DateTime" class="form-control" value="@student.BirthDate">
    </div>
    <div class="form-group">
      <select name="" id="">
        @foreach (Class Class in classes) {
          <option value="">@Class.ClassName</option>
        }
      </select>
    </div>
  </form>
</div>