﻿@model List<dotnetMVC.Models.Student>
@{
    ViewData["Title"] = "Student's list";
    var students = Model;
}
<div class="text-center">
    @if(students!= null) {
        foreach ( var student in students) {
            <tr><td>@student.StudentName</td><td>@student.Class.ClassName</td><td><a href="/student/detail/@student.StudentId">xem chi tiết</a></td></tr><br>
        }
    }
</div>
